html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 80px;
}

*:focus {
    box-shadow: none !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}